<div class="modal" id="contact-modal">
  <div class="modal__content  modal__content--contact">

    <button class="modal__close" type="submit" data-close>
      <img src="assets/images/button/modal-close.svg" alt="закрыть окно">
    </button>

    <form class="form" action="/" method="POST">
      <div class="form__group  form__group--md">
        <input class="form__control" type="text" placeholder="Ваше имя">
        <span class="form__line"></span>
      </div>


      <div class="form__group  form__group--md">
        <input class="form__control" type="email" placeholder="Ваш e-mail">
        <span class="form__line"></span>
      </div>

      <div class="form__group  form__group--md">
        <input class="form__control" type="text" placeholder="Текст сообщения">
        <span class="form__line"></span>
      </div>

      <div class="form__footer">
        <button class="btn  btn--blue  btn--rounded  btn--sm" type="submit">отправить</button>
      </div>
    </form>

    <ul class="modal__footer">
      <li><a href="mailto:igorbabikov91@gmail.com">e-mail: igorbabikov91@gmail.com</a></li>

      <li><a href="tel:+79125527315">тел: +9125527315</a></li>
    </ul>
  </div>
</div>