.add__post {
  background-color: $light-black;
  height: 7.4rem;
  margin-bottom: 3rem;
  padding: 1.5rem 2rem;

  box-shadow: 0 15px 25px rgba($black, .45);
  border-radius: 5px;

  @include breakpoint($mobile--bp) {
    padding: 1.5rem 1rem;
  }
}


.add__post-form {
  display: flex;
  align-items: center;
}


.add__post-text {
  display: block;
  flex: 1 0 auto;
  font-family: inherit;
  font-size: 1.5rem;

  background-color: transparent;
  color: $white;
  border: none;
  resize: none;


  &::placeholder {
    color: #D2D2D2;
  }

  @include breakpoint($mobile--bp) {
    font-size: 1.2rem;
  }
}


.add__post-action {
  display: flex;
  justify-content: space-between;
  flex: 0 0 12rem;

  @include breakpoint($mobile--bp) {
    flex: 0 0 10rem;
  }
}


.add__post-label,
.add__post-btn {
  display: block;

  width: 4.4rem;
  height: 4.4rem;

  cursor: pointer;
  border: none;
  border-radius: 50%;
}


.add__post-label {

  .input {
    display: none;
  }

  background: #EBEBEB url('/assets/images/button/photo.svg') center no-repeat;

  &:hover {
    background-color: darken(#EBEBEB, 5%);
  }
}


.add__post-btn {
  background-color: $blue;

  &:hover {
    background-color: darken($blue, 5%);
  }
}