.cabinet {
  display: flex;

  @include breakpoint($mobile--bp) {
    flex-direction: column;
  }
}

.cabinet__form {
  width: 34rem;

  @include breakpoint($mobile--bp) {
    order: 2;
  }
}

.cabinet__avatar {
  flex: 1 1 auto;
  padding-left: 11rem;

  img {
    display: block;
    margin-bottom: 1rem;
  }

  @include breakpoint($mobile--bp) {
    order: 1;
    padding-left: 0;
    margin-bottom: 2rem;
  }
}

.cabinet__file {
  display: block;
  color: #107EFF;
  cursor: pointer;

  input {
    display: none;
  }


}