.work {
  @include block (3rem, #141111, 0 15px 25px rgba($black, .35), 5px);

  display: flex;
  overflow: hidden;
}

.works__content {
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
  flex-direction: column;

  padding: 2.5rem;
}

.work__preview {
  max-width: 30rem;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.work__title {
  font-size: 2.4rem;
  font-weight: 500;
}

.works__description {
  margin: 3rem 0;

  font-size: 1.6;
  line-height: 1.6;
  font-weight: 300;

  color: $light-gray;
}

.works__footer {
  margin-top: auto;
  text-align: right;
}
