@mixin btn ($bg, $bg_hover, $box-shadow, $text-decoration) {
  background-color: $bg;
  box-shadow: $box-shadow;
  text-decoration: $text-decoration;

  &:hover {
    background-color: $bg_hover;
  }
}


@mixin block($mb, $bg-c, $b-sh, $b-r) {
  margin-bottom: $mb;

  background-color: $bg-c;
  box-shadow: $b-sh;

  border-radius: $b-r;
}