@import "vars";
@import "mixins";
@import "vendor/reset";



html {
    font-size: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-size: 1.5rem;
    line-height: 1.5;

    color: $white;
    background-color: #181818;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: $white;

    &:hover {
        text-decoration: underline;
    }
}


/* Bootstrap */



/* blocks */
@import "blocks/page";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/container";
@import "blocks/content";
@import "blocks/profile";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/stories";
@import "blocks/add__post";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagination";
@import "blocks/related-post";
@import "blocks/comments";
@import "blocks/form";
@import "blocks/works";
@import "blocks/tags";
@import "blocks/cabinet";
@import "blocks/signup";


