$black: #0D0D0D;
$light-black: #121212;
$gray: #202020;
$light-gray: #D2D2D2;
$white: #fff;
$red: #ED3024;
$blue: #3137C9;

$width-sidebar: 300px;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;

